<div class="mb-5 hover-scroll-x">
    <div class="d-grid">
        <ul class="nav nav-tabs flex-nowrap text-nowrap">
            <li class="nav-item">
                <a class="nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_1">Bus Stops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_2">
                    Departure Time From {{ BusDetail.source }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_3">
                    Departure Time From {{ BusDetail.destination }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_4">Live Location</a>
            </li>   
        </ul>
    </div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="kt_tab_pane_1" role="tabpanel">
        <ul class="list-group list-group-flush" *ngFor="let stop of BusDetail.routes">
            <li class="list-group-item"> {{ stop }} </li>
        </ul>
    </div>
    <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
        <ul class="list-group list-group-flush" *ngFor="let sourceTime of BusDetail.dapartureFromSource">
            <li class="list-group-item"> {{ sourceTime }} </li>
        </ul>
    </div>
    <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel">
        <ul class="list-group list-group-flush" *ngFor="let destTime of BusDetail.departureFromDest">
            <li class="list-group-item"> {{ destTime }} </li>
        </ul>
    </div>
    <div class="tab-pane fade show active" id="kt_tab_pane_4" role="tabpanel">
        <div class="list-group list-group-flush w-50" *ngFor="let loc of BusLocation">
            <div class="w-50 m-auto my-4">
                <img alt="Map" class="h-500px me-15" src="https://maps.rmtsbus.in/?lat={{loc.Latitude}}&amp;lon={{loc.Longitude}}">
            </div>
        </div>
    </div>
</div>